<%if event.image%>
<li>
		<div class="meta meta-primary">
		<div class="date">
													 
			<%=t(event.date,format: :secondary).to_s.html_safe%>	
		</div>
	</div>

	<div class="widget-image">
		<a href="<%=event_path(title: event.url)%>"><img src="<%=event.image%>" alt=""></a>
	</div>  

		
	<div class="widget-content">
		<div class="widget-head">			  
			
			
			<h2>
				<a href="<%=event_path(title: event.url)%>"><%=event.title%></a>
			</h2>
		</div>
		
		<p>
			<%=event.subtitle%><a href="<%=event_path(title: event.url)%>">En savoir plus</a>
		</p>
	</div>
</li>

<%else%>
<li>
																					<div class="meta meta-secondary">
											    <div class="date date-secondary">
											        										 
													<%=t(event.date,format: :secondary).to_s.html_safe%>
											    </div>
											</div>
																				
										<div class="widget-content">
											<h3 class="widget-title"><a href="<%=event_path(title: event.url)%>"><%=event.title%></a></h3>
											
											<p>
												 <a href="<%=event_path(title: event.url)%>">En savoir plus</a>
											</p>
										</div>
										<!-- /.widget-content -->
									</li>
<%end%>
